html {
    font-family: verdana;
    font-size: 16px;
    font-weight: normal;
}

h1 {
    font-weight: 200;
    display: inline-block;
    font-size: 1.3rem;
    position: fixed;
    left: 55px;
    top: 7px;
}

h2 {
    font-size: 2.5rem;
    color: rgb(58, 58, 58);
}

h3 {
    font-size: 2.2rem;
    color: rgb(58, 58, 58);
}

h4 {
    font-size: 1.5rem;
    color: rgb(58, 58, 58);
    margin-bottom: 0px;
}

p {
    color: rgb(58, 58, 58);
}

#mobile {
    visibility: hidden;
}

/*Header*/

header {
    position: fixed;
    top: 0px;
    height: 64px;
    background-color: white;
    display: inline-block;
    width: 100%;
    z-index: 100;
}

nav {
    display: inline-block;
    position: fixed;
    right: 24px;
    top: 7px;

}

li {
    display: inline-block;
    margin-left: 16px;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

a .visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
}

#logo {
    display: inline-block;
    height: 40px;
    position: fixed;
    top: 16px;
    left: 24px;
}

/*Banner*/

.banner {
    background-color: lightgray;
    position: relative;
    top: 64px;
    display: inline-flex;
    width: 100%;
    flex-flow: row wrap;
    align-content: center;
}

#bannerimage {
    width: 60%;
    height: auto;
    margin: 32px 24px;
    display: inline-flex
}

.text {
    display: inline-flex;
    height: 100%;
    flex-flow: column wrap;
    
    align-content: center;
    flex-shrink: 2;
    margin-top: auto;
    margin-bottom: auto;
}

.banner p {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5em;
    flex-shrink: 2;
}

button {
    border: 0px;
    border-radius: 0px;
    background-color: rgb(58, 58, 58);
    color: white;
    font-size: 1.5rem;
    padding: 8px;
    width: 375px;
    margin-top: 24px;
    transition: all 350ms ease-out;
}

button:hover {
    background-color: gray;
    
}



@media only screen and (max-width: 1080px) {
    .text {
        text-align: center;
        width: 100%;
        top: 0px;
    }

   button {
       margin-bottom: 24px;
   }

   .text h2 {
       margin-top: 0;
   }

   #bannerimage {
       margin-right: auto;
       margin-left: auto;
   }
}

/*Information*/

.information {
    position: relative;
    top: 64px;
    display: inline-flex;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.quote {
    width: 60%;
    margin: 32px 0px 32px 24px;
}

#practicing {
    width: 95%;
    margin-bottom: 32px;
}

.quote h3 {
    margin-top: 0px;
}

.quote p {
    width: 88%;
    color: gray;
    line-height: 1.5em;
}

.info {
    display: inline-flex;
    width: 40%;
    flex-flow: column wrap;
    border-left: solid 1px lightgray;
    padding-top: 32px;
}

.info img {
    width: 35%;
    height: auto;
    margin: 20px;
}

.info p {
    color: gray;
}

.info a {
    color: dodgerblue;
}

.info a:hover {
    color: skyblue;
}

.infotext {
    margin-top: auto;
    margin-bottom: auto;
}

.orientation {
    display: inline-flex;
    border-bottom: solid 1px lightgray;
}


.campus {
    display: inline-flex;
    border-bottom: solid 1px lightgray;
}

.guest {
    display: inline-flex;
    background-color: lightgrey;
}

.infotext h4 {
    margin: 0;
}

@media only screen and (max-width: 950px) {
    .orientation {
        height: 33%;
    }

    .campus {
        height: 33%;
    }

    .guest {
        height: 33%;
    }

    .info img {
        height: 123.469px;
        width: 123.469px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media only screen and (max-width: 820px) {
    .info h4 {
        font-size: 1.2rem;
    }

    .info p {
        font-size: 0.8rem;
    }

    .info a {
        font-size: 0.8rem;
    }

    .info img {
        height: 100px;
        width: 100px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

/*Learning*/

.learning {
    position: relative;
    top: 64px;
    background-color: lightgray;
    display: inline-flex;
    width: 100%;
    flex-flow: column wrap;
}

.learning h3 {
    text-align: center;
    margin: 32px;
}

.courses {
    display: inline-flex;
    flex-flow: row wrap;
    margin: 0px 72px;
    justify-content: space-around;
}

.course {
    background-color: white;
    max-width: 400px;
    margin-bottom: 32px;
    height: 450px;
}

.course img {
    width: 100%;
    height: auto;
}

.course h4 {
    margin: 24px;
}

.course p {
    margin: 0px 24px 24px 24px;
    color: gray;
}

/*Thesis*/

.thesis {
    position: relative;
    top: 64px;
    width: 100%;
    display: inline-flex;
    flex-flow: column wrap;
    background-color: rgb(240, 240, 240);
}

.thesis h3 {
    text-align: center;
}

.thesiscontent {
    display: inline-flex;
    flex-flow: row wrap
}

.reimagine {
    width: 60%;
    margin: 32px 24px;
    display: inline-flex;
    flex-flow: column wrap;
}

video {
    width: 100%;
}

.examples {
    margin-top: 32px;
    width: 500px;
    display: inline-flex;
    flex-flow: column wrap;
}

.example {
    height: 212px;
    display: inline-flex;
}

.example img {
    width: 180px;
    height: 180px;
    margin: 16px;
}

#fisma {
    background-color: lightgray;
}

#nowandthen {
    padding-top: 30px;
}

/*Footer*/

footer {
    position: relative;
    top: 64px;
    height: 100px;
    border-top: solid 1px lightgray;
    display: inline-block;
    width: 100%;
}

footer nav {
    display: inline-block;
    position: absolute;
    right: 24px;
    top: 2px;
}

footer p {
    color: gray;
}

footer a {
    color: gray;
}

@media only screen and (max-width: 700px) {
    h1 {
        visibility: hidden;
    }
}

@media only screen and (max-width: 640px) {
    #desktop {
        visibility: hidden;
    }

    #logo {
        visibility: hidden;
    }

    #mobile {
        visibility: visible;
    }

    /*Header*/

    nav {
        display: inline-flex;
        position: fixed;
        right: 24px;
        top: 0px;
        left: 24px;
        width: 90%;
        justify-content: space-between;
    }

    nav a {
        display: inline-flex;
        margin: 8px;
    }

    nav img {
        width: 40px;
        height: 40px;
        margin: 12px;
    }

    #mobilelogo {
        height: 44px;
        margin-top: 18px;
    }

    /*Banner*/

    #bannerimage {
        width: 100%;
        height: auto;
        margin-top: 0;
    }

    .text {
        text-align: left;
        margin: 32px 16px;
    }

    .text p {
        margin-top: 0;
    }

    button {
        background-color: gray;
    }

    /*Information*/

    .info {
        width: 100%;
        border: 0;
        padding: 0;
    }

    .quote {
        visibility: hidden;
        width:  0px;
    }

    .orientation {
        flex-flow: column wrap;
        height: 400px;
        border: 0;
        
    }

    .campus {
        flex-flow: column wrap;
        height: 400px;
        border: 0;
    }

    .guest {
        flex-flow: column wrap;
        height: 400px;
        background-color: rgb(240, 240, 240);
    
    }

    .info img {
        width: 90%;
        height: auto;
        
        
    }

    /*Learning*/

    .course {
        height: 100px;
        width: 620px;
        margin: 4px 0;
        background-color: lightgray;
    }

    .courses {
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 32px;
    }

    .course h4 {
        margin: 0px;
        position: relative;
        top: 15px;
        left: 20px;
    }

    .course img {
        height: 0;
    }

    .learning {
        background-color: rgb(240, 240, 240);
    }

    /*Thesis*/

    video {
        width: 98%;
        margin: 0;
    }

    .reimagine {
        width: 100%;
        margin: 16px 0 24px 0;
    }

    .reimagine h4 {
        height: 0px;
        margin: 0px;
    }

    .reimagine p {
        height: 0px;
        margin: 0px;
    }

    .examples {
        height: 0px;
        margin: 0px;
    }

    footer nav {
        visibility: hidden;
    }

    footer {
        height: 50px;
    }
}